---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Nav.astro';
import ProjectDescriptionCard from '../components/ProjectDescriptionCard.astro';
import Footer from '../components/Footer.astro';

const { slug } = Astro.params;
const project = await getEntry('proyectos', slug);
const { title,titleHeader,description,imgHeader,empresa, rol, tiempo, categoria, type} = project.data;

import { getCollection } from 'astro:content';
import Button from "../components/Button.astro";
const posts = (await getCollection('proyectos')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<html lang="en">
    <head>
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-BZJK73YDMV"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BZJK73YDMV');
		</script>
        <BaseHead title={title} description={description} />
    </head>

    <body class="body body-inner">
        <Header />
        <header class="project-post-header">
			<div class="post-header-wrapper">
				<div class="project-post__hero">
					<div>
						<h1 class="text-6xl sm-text-4xl xs-text-2xl">{titleHeader.split('.')[0]}.</h1>
						<h2 class="text-6xl sm-text-4xl xs-text-2xl">{titleHeader.split('.').slice(1).join('.')}</h2>
						<p class="sm-text-lg xs-text-base">{description}</p>
					</div>
					<img src={imgHeader} alt={title}>
				</div>
				<div class="project-post__description">
					<div class="cards-wrapper">
						<ProjectDescriptionCard title="Empresa" description={empresa} />
						<ProjectDescriptionCard title="Rol" description={rol} />
						<ProjectDescriptionCard title="Tiempo" description={tiempo} />
					</div>
					<div class="cards-wrapper">
						<ProjectDescriptionCard title="Categoría" description={categoria} />
						<ProjectDescriptionCard title="Tipo" description={type} />
					</div>
				</div>

				<div class="project-post__description mobile">
						<ProjectDescriptionCard title="Empresa" description={empresa} />
						<ProjectDescriptionCard title="Rol" description={rol} />
						<ProjectDescriptionCard title="Tiempo" description={tiempo} />
						<ProjectDescriptionCard title="Categoría" description={categoria} />
						<ProjectDescriptionCard title="Tipo" description={type} />
					</div>
				</div>
			</div>
        </header>
		<main>
			<section class="project-container">
				<slot />
			</section>
		</main>
		<h4 class="text-center text-3xl text-medium gracias">
			¡Gracias por leer!
		</h4>
		<section  class="projects bg-neutral-0 projects-section">
			<h3 class="text-center text-4xl xs-text-lg text-semibold text-secondary-700 mb-48">
				OTROS PROYECTOS
			</h3>
			<ul>
				{
					posts.filter(post => post.id !== slug).map((post) => (
							<li>
								<a href={`/proyectos/${post.id}/`}>
									<img width={584} height={524} src={post.data.heroImage} alt={post.data.title} />
								</a>
								<div class="projects__card-content">
									<div>
										<h5 class="projects__label text-xl xs-text-base text-medium">{post.data.type}</h5>
										<h4 class="projects__title text-4xl xs-text-2xl text-light">
											<b class="text-bold">{post.data.title.split(' ')[0]}</b>{' '}
											<span>{post.data.title.split(' ').slice(1).join(' ')}</span>
										</h4>
									</div>
									<div class="button-wrapper">
										<Button link={`/proyectos/${post.id}/`} type="secundary">
											<i class="projects__icon">
												<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.59375 0.906251L17.3125 0.90625C17.5197 0.90625 17.7184 0.98856 17.8649 1.13507C18.0114 1.28159 18.0938 1.4803 18.0938 1.6875V13.4062C18.0938 13.8377 17.744 14.1875 17.3125 14.1875C16.881 14.1875 16.5312 13.8377 16.5312 13.4062V3.57361L2.23993 17.8649C1.93483 18.17 1.44017 18.17 1.13507 17.8649C0.829976 17.5598 0.829976 17.0652 1.13507 16.7601L15.4264 2.46875L5.59375 2.46875C5.16228 2.46875 4.8125 2.11897 4.8125 1.6875C4.8125 1.25603 5.16228 0.906251 5.59375 0.906251Z"/>
												</svg>
											</i>
										</Button>
									</div>
								</div>
								
							</li>
				  
					))
				}
			</ul>
		</section>
        <Footer />
    </body>
</html>

<style is:global>
	.body-inner{
		background-color: var(--background-50);
	}
    .project-post-header {
        background-color: var(--background-100);
		height: 636px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 80px 0px 0px;
		border-radius: 0 0 64px 64px;
    }

	.projects-section{
		padding: 118px 0 118px;
	}

	@media (max-width: 575.98px){
		.projects-section{
		padding: 58px 24px 58px;
		}
	}

	@media (max-width: 575.98px){
		.project-post-header{
			border-radius: 0 0 24px 24px;
		}
	}

	@media (max-width: 1440px){
		.project-post-header{
			height: 636px;
		}
	}
	@media (max-width: 1024px){
		.project-post-header{
			height: 798px;
		}
	}

	@media (max-width: 820px){
		.project-post-header{
			height: 948px;
		}
	}

	@media (max-width: 575.98px){
		.project-post-header{
			height: 974px;
			height: auto;
			padding: 24px;
		}
	}



	.post-header-wrapper{
		height: 358px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1008px;
		margin: 0 auto;
	}

	@media (max-width: 1024px){
		.post-header-wrapper{
			max-width: 800px;
		}
	}

	
	@media (max-width: 820px){
		.post-header-wrapper{
			max-width: 596px;
		}
	}

	@media (max-width: 575.98px){
		.post-header-wrapper{
			height: auto;
			padding: 130px 0 56px;
		}
	}

	.project-post__hero{
		display: flex;
		align-items: center;
		gap: 62px;
		height: 358px;
	}
	

	@media (max-width: 820px){
		.project-post__hero{
		display: flex;
		align-items: center;
		gap: 62px;
		height: 596px;
		flex-direction: column;
		gap: 56px;
		justify-content: space-between;
		}
	}
	@media (max-width: 575.98px){
		.project-post__hero{
			height: auto;
			gap: 24px;
		}
	}


	.project-post__hero h1,h2{
		color: var(--secundary-900);
		font-size:var(--text-6xl);
		font-family: var(--text-medium);
		font-weight: 500;
		line-height: 1.2;
	}

	@media (max-width: 575.98px){
		.project-post__hero h1,h2{
		color: var(--secundary-900);
		font-size:var(--text-2xl);
		font-family: var(--text-medium);
		font-weight: 700;
		}
	}

	.project-post__hero p{
		color: var(--secundary-900);
		font-size:var(--text-lg);
		font-family: var(--text-regular);
		font-weight: 400;
		margin-top: 16px;
	}

	@media (max-width: 575.98px){
		.project-post__hero p{
			color: var(--secundary-900);
			font-size:var(--text-base);
			font-family: var(--text-regular);
			font-weight: 400;
			margin-top: 16px;
		}
	}

	.project-post__hero img{
		max-width: 240px;
	}



	.project-post__description{
		margin-top: 32px;
		display: flex;
		justify-content: center;
	}
	.project-post__description .cards-wrapper{
		margin-top: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 14px;
	}
	.project-post__description .cards-wrapper:nth-child(1){
		margin-right: 14px;
	}

	@media (max-width: 1024px){
		.project-post__description{
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.project-post__description .cards-wrapper{
			margin-top: 14px;
		}
		.project-post__description .cards-wrapper:nth-child(1){
			margin-right: 0;
		}

		.card{
			flex: 1;
		}
	}



	main{
		background-color: var(--background-50);
	}
	.project-container{
		max-width: 800px;
		margin: 0 auto;
		padding: 62px 50px 32px;

	}
	@media (max-width: 820px){
		.project-container{
		margin: 0 auto;
		padding: 62px 100px;

		}
	}
	@media (max-width: 575.98px){
		.project-container{
		padding: 42px 24px 0;
		}
	}

	.col-2-section{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 56px;
	}
	@media (max-width: 820px){
		.col-2-section:nth-child(1){
			flex-direction: column-reverse;
			gap: 56px;
		}
		.col-2-section:not(:nth-child(1)){
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 575.98px){
		.col-2-section:not(:nth-child(1)){
				display: grid;
				grid-template-columns: 1fr;
			}
		.image-content-l img{
			max-width: 100%  !important;
		}
	}

	.col-2-section .text-content {
		flex: 0 0 418px; /* Ancho fijo de 418px */
	}

	@media (max-width: 820px){
		
		.col-2-section .text-content {
			flex: 0 0 auto; /* Ancho fijo de 418px */
		}
	}

	.col-2-section .image-content {
		flex: 1; /* Ocupa el espacio restante */
	}

	.col-2-section:nth-child(1){
		margin-bottom: 72px;
	}

	.col-2-section .text-content h2{
		margin-bottom: 16px;
	}


	.project-container h2{
		font-size: var(--text-6xl);
		font-family: var(--text-medium);
		font-weight: 500;
	}

	@media (max-width: 575.98px){
		.project-container h2{
			font-size: var(--text-2xl);
		}
	}

	.project-container h3{
		font-size: var(--text-2xl);
		font-family: var(--text-medium);
		font-weight: 500;
	}

	@media (max-width: 575.98px){
		.project-container h3{
			font-size: var(--text-base);
		}
	}

	.project-container p{
		font-size: var(--text-lg);
		font-family: var(--text-regular);
		font-weight: 400;
		margin-top: 16px;
	}

	@media (max-width: 575.98px){
		.project-container p{
			font-size: var(--text-base);
		}
	}

	.image-content-b img{
		display: block;
		margin: 40px auto 72px;
	}
	.image-content-b-2 img{
		display: block;
		margin: 48px auto 0px;
	}
	.image-content-b-3 img{
		margin-left: -48px;
	}


	@media (max-width: 575.98px){
		.image-content-b-3 img{
			margin: 16px auto;
		}

	}



	.gracias{
		background-color: var(--background-50);
		padding: 72px 0 118px;
	}
	@media (max-width: 575.98px){
		.gracias{
			padding: 48px 0 58px;
		}
	}
	.project-post__description.mobile{
		display: none;
	}

	@media (max-width: 575.98px){
		.project-post__description{
			display: none;
		}

		.project-post__description.mobile{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 14px;
		}

		.project-post__description.mobile .card:nth-child(1){
			flex: 1 1 149px;
		}

		.project-post__description.mobile .card:nth-child(2){
			flex: 1 1 149px;
		}

		.project-post__description.mobile .card:nth-child(3){
			flex: 1 1 149px;
		}
		.project-post__description.mobile .card:nth-child(4){
			flex: 1 1 149px;
		}
		.project-post__description.mobile .card:nth-child(5){
			flex: 1 1 149px;
		}
	}

		.content-50{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.cards-proyect-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 575.98px){
		.cards-proyect-container{
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		gap: 16px;
		}
	}

	.cards-proyect-container .card h3{
		font-size: var(--text-base);
		font-family: var(--text-light);
		font-weight: 300;
	}
	.cards-proyect-container .card h3 b{
		font-size: var(--text-base);
		font-family: var(--text-medium);
		font-weight: 500;
	}
	.project-timeline-container{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 32px;
		margin-top: 40px;
	}

	@media (max-width: 820px){
		.project-timeline-container{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 32px;
		}
	}

	@media (max-width: 575.98px){
		.project-timeline-container{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}

	.project-timeline-container__card h4{
		padding: 8px 8px;
		background-color: var(--background-100);
		border-radius: 24px;
		margin-bottom: 16px;
		text-align: center;
	}

	.project-timeline-container__card ul{
		padding-left: 16px;
	}

	.lightbox::after{
		content: "";
		width: 100%;
		height: 100%;
		background-color: #1E3A2B;
		opacity: .8;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;

	}

	@media (min-width: 1367px){
        .projects ul{
            display: grid;
            grid-template-columns: 584px 584px;
            gap: 48px;
            place-items: center;
            margin: 0 auto;
            justify-content: center;
        }
    }
    @media (max-width: 1367px){
        .projects ul{
        display: grid;
        grid-template-columns: 584px;
        gap: 48px;
        place-items: center;
        margin: 0 auto;
        justify-content: center;
        }
    }

    @media (max-width: 575.98px){
        .projects{
        margin-top: 42px;
    }
        .projects ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
        place-items: center;
        margin: 0 auto;
        justify-content: center;
        }
    }
 
    .projects__card-content{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .projects__label{
        margin-top: 8px;
    }
    .projects__title{
        color: var(--secundary-900);
    }
 

    .projects ul li{
        list-style: none;
        max-width: 584px;
    }
    .projects ul li a{
        text-decoration: none;
        color: var(--secundary-900);
    }
    .projects__icon{
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 4px;
        margin-left: 2px;
        margin-right: 2px;
        position: relative;
        top: -2px;
    }
    i svg path{
        fill: var(--secundary-700);
        transition: all .3s ease;
    }

    i.disabled svg path{
        fill: var(--neutral-400) !important;
        transition: all .3s ease;
    }


    .button-wrapper:hover i svg path{
        fill: var(--secundary-900);
        transition: all .3s ease;
    }

    @media (max-width: 575.98px){
        .projects__title{
            display: flex;
            flex-direction: column;
        }
        projects__title span{
            display: block !important;
        }
        projects__title b{
            display: block !important;
        }
    	}

</style>

<script is:inline>

	const hamburger = document.querySelector('.hamburger-menu');
	const close = document.querySelector('.close-btn');
	const menu = document.querySelector('.mobile-menu');
	const body = document.querySelector('.body');

	function toggleMenu() {
		menu.classList.toggle('active');
		hamburger.classList.toggle('primary');
		hamburger.classList.toggle('on');
		body.classList.toggle('lightbox');
	}

	hamburger.addEventListener('click', toggleMenu);
	close.addEventListener('click', toggleMenu);

	document.addEventListener('click', (e) => {
		if (!menu.contains(e.target) && !hamburger.contains(e.target) && menu.classList.contains('active')) {
			toggleMenu();
		}
	});
  
  </script>