---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Nav.astro';
import ProjectDescriptionCard from '../components/ProjectDescriptionCard.astro';
import Footer from '../components/Footer.astro';

const { slug } = Astro.params;
const project = await getEntry('proyectos', slug);
const { title,titleHeader,description,imgHeader,empresa, rol, tiempo, categoria, type} = project.data;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <header class="project-post-header">
			<div class="post-header-wrapper">
				<div class="project-post__hero">
					<div>
						<h1 class="sm-text-4xl xs-text-2xl">{titleHeader.split('.')[0]}.</h1>
						<h2 class="sm-text-4xl xs-text-2xl">{titleHeader.split('.').slice(1).join('.')}</h2>
						<p class="sm-text-lg xs-text-base">{description}</p>
					</div>
					<img src={imgHeader} alt={title}>
				</div>
				<div class="project-post__description">
					<div class="cards-wrapper">
						<ProjectDescriptionCard title="Empresa" description={empresa} />
						<ProjectDescriptionCard title="Rol" description={rol} />
						<ProjectDescriptionCard title="Tiempo" description={tiempo} />
					</div>
					<div class="cards-wrapper">
						<ProjectDescriptionCard title="Categoría" description={categoria} />
						<ProjectDescriptionCard title="Tipo" description={type} />
					</div>
				</div>

				<div class="project-post__description mobile">
						<ProjectDescriptionCard title="Empresa" description={empresa} />
						<ProjectDescriptionCard title="Rol" description={rol} />
						<ProjectDescriptionCard title="Tiempo" description={tiempo} />
						<ProjectDescriptionCard title="Categoría" description={categoria} />
						<ProjectDescriptionCard title="Tipo" description={type} />
					</div>
				</div>
			</div>
        </header>
		<main>
			<section class="project-container">
				<slot />
			</section>
		</main>
		<h4 class="text-center text-3xl text-medium gracias">
			¡Gracias por leer!
		</h4>
        <Footer />
    </body>
</html>

<style is:global>
    .project-post-header {
        background-color: var(--background-100);
		height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 80px 0px 0px;
    }

	@media (max-width: 1440px){
		.project-post-header{
			height: 702px;
		}
	}

	@media (max-width: 820px){
		.project-post-header{
			height: 948px;
		}
	}

	@media (max-width: 575.98px){
		.project-post-header{
			height: auto;
			padding: 24px;
		}
	}



	.post-header-wrapper{
		height: 358px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1008px;
		margin: 0 auto;
	}

	@media (max-width: 1024px){
		.post-header-wrapper{
			max-width: 800px;
		}
	}

	
	@media (max-width: 820px){
		.post-header-wrapper{
			max-width: 596px;
		}
	}

	@media (max-width: 575.98px){
		.post-header-wrapper{
			height: auto;
			padding: 130px 0 56px;
		}
	}

	.project-post__hero{
		display: flex;
		align-items: center;
		gap: 62px;
		height: 358px;
	}
	

	@media (max-width: 820px){
		.project-post__hero{
		display: flex;
		align-items: center;
		gap: 62px;
		height: 596px;
		flex-direction: column;
		gap: 56px;
		justify-content: space-between;
		}
	}
	@media (max-width: 575.98px){
		.project-post__hero{
			height: auto
		}
	}


	.project-post__hero h1,h2{
		color: var(--secundary-900);
		font-size:var(--text-6xl);
		font-family: var(--text-medium);
		font-weight: 500;
	}

	@media (max-width: 575.98px){
		.project-post__hero h1,h2{
		color: var(--secundary-900);
		font-size:var(--text-2xl);
		font-family: var(--text-medium);
		font-weight: 500;
		}
	}

	.project-post__hero p{
		color: var(--secundary-900);
		font-size:var(--text-lg);
		font-family: var(--text-regular);
		font-weight: 400;
		margin-top: 16px;
	}

	@media (max-width: 575.98px){
		.project-post__hero p{
			color: var(--secundary-900);
			font-size:var(--text-base);
			font-family: var(--text-regular);
			font-weight: 400;
			margin-top: 16px;
		}
	}

	.project-post__hero img{
		max-width: 240px;
	}



	.project-post__description{
		margin-top: 32px;
		display: flex;
		justify-content: center;
	}
	.project-post__description .cards-wrapper{
		margin-top: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 14px;
	}
	.project-post__description .cards-wrapper:nth-child(1){
		margin-right: 14px;
	}

	@media (max-width: 1024px){
		.project-post__description{
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.project-post__description .cards-wrapper{
			margin-top: 14px;
		}
		.project-post__description .cards-wrapper:nth-child(1){
			margin-right: 0;
		}

		.card{
			flex: 1;
		}
	}



	main{
		background-color: var(--background-50);
	}
	.project-container{
		max-width: 800px;
		margin: 0 auto;
		padding: 62px 50px;

	}
	@media (max-width: 575.98px){
		.project-container{
		padding: 62px 24px 0;
		}
	}

	.col-2-section{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 56px;
	}
	@media (max-width: 820px){
		.col-2-section:nth-child(1){
			flex-direction: column-reverse;
			gap: 56px;
		}
		.col-2-section:not(:nth-child(1)){
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 575.98px){
		.col-2-section:not(:nth-child(1)){
				display: grid;
				grid-template-columns: 1fr;
			}
		.image-content-l img{
			max-width: 100%  !important;
		}
	}

	.col-2-section .text-content {
		flex: 0 0 418px; /* Ancho fijo de 418px */
	}

	@media (max-width: 820px){
		
		.col-2-section .text-content {
			flex: 0 0 auto; /* Ancho fijo de 418px */
		}
	}

	.col-2-section .image-content {
		flex: 1; /* Ocupa el espacio restante */
	}

	.col-2-section:nth-child(1){
		margin-bottom: 72px;
	}

	.col-2-section .text-content h2{
		margin-bottom: 16px;
	}


	.project-container h2{
		font-size: var(--text-6xl);
		font-family: var(--text-medium);
		font-weight: 500;
	}

	@media (max-width: 575.98px){
		.project-container h2{
			font-size: var(--text-2xl);
		}
	}

	.project-container h3{
		font-size: var(--text-2xl);
		font-family: var(--text-medium);
		font-weight: 500;
	}

	@media (max-width: 575.98px){
		.project-container h3{
			font-size: var(--text-base);
		}
	}

	.project-container p{
		font-size: var(--text-lg);
		font-family: var(--text-regular);
		font-weight: 400;
		margin-top: 16px;
	}

	@media (max-width: 575.98px){
		.project-container p{
			font-size: var(--text-base);
		}
	}

	.image-content-b img{
		display: block;
		margin: 40px auto 72px;
	}
	.image-content-b-2 img{
		display: block;
		margin: 48px auto 0px;
	}
	.image-content-b-3 img{
		margin-left: -48px;
	}

	@media (max-width: 575.98px){
		.image-content-b-3 img{
		margin: 16px auto
		}
	}



	.gracias{
		background-color: var(--background-50);
		padding: 72px 0 118px;
	}
	@media (max-width: 575.98px){
		.gracias{
			padding: 48px 0 58px;
		}
	}
	.project-post__description.mobile{
		display: none;
	}

	@media (max-width: 575.98px){
		.project-post__description{
			display: none;
		}

		.project-post__description.mobile{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 14px;
		}

		.project-post__description.mobile .card:nth-child(1){
			flex: 1 1 149px;
		}

		.project-post__description.mobile .card:nth-child(2){
			flex: 1 1 149px;
		}

		.project-post__description.mobile .card:nth-child(3){
			flex: 1 1 149px;
		}
		.project-post__description.mobile .card:nth-child(4){
			flex: 1 1 149px;
		}
		.project-post__description.mobile .card:nth-child(5){
			flex: 1 1 149px;
		}
	}

		.content-50{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.cards-proyect-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.cards-proyect-container .card h3{
		font-size: var(--text-base);
		font-family: var(--text-light);
		font-weight: 300;
	}
	.cards-proyect-container .card h3 b{
		font-size: var(--text-base);
		font-family: var(--text-medium);
		font-weight: 500;
	}
	.project-timeline-container{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 32px;
		margin-top: 40px;
	}

	@media (max-width: 820px){
		.project-timeline-container{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 32px;
		}
	}

	@media (max-width: 575.98px){
		.project-timeline-container{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}

	.project-timeline-container__card h4{
		padding: 8px 8px;
		background-color: var(--background-100);
		border-radius: 24px;
		margin-bottom: 16px;
		text-align: center;
	}

</style>
<script is:inline>

	const hamburger = document.querySelector('.hamburger-menu');
	const close = document.querySelector('.close-btn');
	const menu = document.querySelector('.mobile-menu');
	const body = document.querySelector('.body');

	function toggleMenu() {
		menu.classList.toggle('active');
		hamburger.classList.toggle('primary');
		hamburger.classList.toggle('on');
		body.classList.toggle('lightbox');
	}

	hamburger.addEventListener('click', toggleMenu);
	close.addEventListener('click', toggleMenu);

	document.addEventListener('click', (e) => {
		if (!menu.contains(e.target) && !hamburger.contains(e.target) && menu.classList.contains('active')) {
			toggleMenu();
		}
	});
  
  </script>